@charset "utf-8"; @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap'); body { font-family:'Noto Sans KR',sans-serif; color:#2b2b2b;  } 

/* 상단 배경 텍스트 */
.background-text { position: fixed; top: 20vw; left: 0; transform: translateX(-40%) translateY(-50%); white-space: nowrap; font-size: clamp(12rem, 15vw, 15rem); color: rgba(190, 190, 190, 0.1); font-family: Arial, sans-serif; animation: moveText 40s linear infinite; font-weight: 700; z-index: 1; transition: opacity 1s ease; pointer-events: none; } 

@media screen and (max-width:600px){
    .background-text { display: none; } 
    }
   
@keyframes moveText { 
    from { left: 100%; } 
    to { left: -100%; } 
    }

 p, h1, h2 { position: relative; z-index: 2; } 

 /* 하단 배경 텍스트 */
 .background-text1 { position: fixed; top: 40%; left: 20%; z-index: -1; font-size: clamp(3rem, 9vw, 9rem); color: transparent; -webkit-text-stroke: 2px rgba(146, 152, 219, 0.2);
 pointer-events: none; opacity: 0; transition: opacity 0.5s ease-in-out;  font-weight: 700; line-height: 100%; white-space: nowrap;} 


/* header */
header { position:fixed; top:0; left:0; bottom:0; width:100%; height:60px; z-index:100; background-color:rgba(255,255,255,0.5); } 
header>.container>nav { position:absolute; left:50%; top:0; margin-left:-650px; width:100%; height:60px; } 
header>.container>nav>.gnb>li { float:left; width:200px; } 
header>.container>nav>.gnb>li>a { display:block; height:60px; line-height:60px; font-size:20px; font-weight:700; text-align:center; transition:all 0.4s; } 
header>.container>nav>.gnb>li:hover>a,header>.container>nav>.gnb>li>a:focus,header>.container>nav>.gnb>li.on>a { color:#ffffff; }

header>.container>nav>.gnb>li:nth-child(1){padding-top: 10px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

/* 1.Overview */
#Overview { width:100%; height: 800px; background-image:url(../images/background1.gif); background-repeat:no-repeat; background-size:cover; margin: 0 auto;} 
#Overview>.title { width:100%; padding-left: 10%; padding-top: 20%; color: #fff;}
#Overview>.title>p { font-weight:700; font-size: clamp(2.5rem, 3vw, 3rem); color:#ffffff;}
#Overview>.title>li {padding-top: 10px;line-height: 180%}


/* 2. logistics */
#Business {width: 100%; height: 800px; background-image:url(../images/Business_back.jpg); background-repeat:no-repeat; background-size:cover; margin: 0 auto;} 
#Business>div { color: #fff; width:100%; padding-left: 10%; padding-top: 20%;}
#Business>div>ul>p {font-weight:700; font-size: clamp(2.5rem, 3vw, 3rem); letter-spacing:1px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);} 
#Business>div>ul>li {text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); padding-top: 1%; line-height: 180%;}
#Business>div>.business-container {display: flex; gap: 25px; padding-top: 3%;}
#Business>div>.business-container>.business-box {width: 400px; height: 300px; border-radius: 10px; display: flex; justify-content: center; align-items: center;
background-color: rgba(0, 0, 0, 0.5);}

/* 3. brand */
#Product {padding-top: 3%; padding-bottom: 2%; width: 100%; height: 1000px; background-color: #fff; display: flex; justify-content: center; align-items: center; } 
#Product>.title {color: #000;}
#Product>.title>div:nth-child(1){font-size: clamp(1.5rem, 1.7vw, 1.7rem); font-weight: 700; color: #555;}
#Product>.title>div:nth-child(2){padding-top: 1%;}
#Product>.title>.box-contents{padding-top: 5%;}
#Product>.title>.box-contents>p{ font-size: clamp(1.5rem, 1.5vw, 1.5rem); font-weight:500; padding-bottom: 10px;} 
#Product>.title>.box-contents>.box-container{display: flex; gap: 25px;}
#Product>.title>.box-contents>.box-container>.box{width: 200px; height: 80px; border: 1px solid #929292; border-radius: 10px; display: flex; justify-content: center; align-items: center;}
#Product>.title>.box-contents>.box-container>.box img {display: block; margin: auto;}



/* 4. Verdant Oasis Toner */
#Housebrand { width: 100%; height: 800px; background-image:url(../images/Product_back.gif); background-repeat:no-repeat; background-size:cover; margin: 0 auto;}
#Housebrand>.title {padding: 20% 10% 10% 10%; color: #fff;}
#Housebrand>.title>ul>p { font-size: clamp(2.5rem, 3vw, 3rem); font-weight:700; color:#7576a0; letter-spacing:1px; } 

/* 5. Retroric */
#Retroric { width: 100%; height: 800px; background-image:url(../images/Retroric.jpeg); background-repeat:no-repeat; background-size:cover; margin: 0 auto;}
#Retroric>.title {padding: 20% 10% 10% 10%; color: #fff;}
#Retroric>.title>ul>p { font-size: clamp(2.5rem, 3vw, 3rem); font-weight:700; color:#fff; letter-spacing:1px; }
#Retroric>.title>ul>li { padding-top: 0.5%; }


/* 6. 경영이념 */
#PR-Room { width: 100%; height: 700px; background-color: #292929;}
#PR-Room>.title {padding: 10%; color: #fff;}
#PR-Room>.title>ul>p { font-size: clamp(2rem, 2vw, 2rem); font-weight:700; color:#7576a0; letter-spacing:1px; }
#PR-Room>.title>ul>li { padding-top: 1%;}
#PR-Room>.title>.circle-wrapper{display: flex; justify-content: center; align-items: center; }
#PR-Room>.title>.circle-wrapper>.circle-container{display: flex; gap: 40px; padding-top: 5%;}
#PR-Room>.title>.circle-wrapper>.circle-container>.circle{width: 220px; height: 220px; border: 1px solid rgb(114, 114, 114); border-radius: 50%;
    display: flex; justify-content: center; align-items: center; text-align: center; font-size: 18px; font-weight: bold;}



/* 7. Contact-Us */
#Contact-Us { width: 100%; height: 700px; display: flex; justify-content: center; align-items: center;}
#Contact-Us>.title {color: #000; padding: 0 10% 15% 0;}
#Contact-Us>.title>ul>p { font-size: clamp(2.5rem, 3vw, 3rem); font-weight:500; color:#7576a0; letter-spacing:1px; } 


/* footer */
footer { width:100%; height:160px; background-color:#7576a0; padding: 3% 0 0 5%;} 
footer>address { font-size:14px; font-weight:300; color:#fff; line-height:1.6; text-align:left; } 
